name: Build LaTeX document

on:
  push:
    tags:
      - "*"

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Compile LaTeX
        uses: xu-cheng/latex-action@v2
        with:
          root_file: card.tex

      - name: Upload card.pdf to release
        uses: softprops/action-gh-release@v1
        with:
          files: card.pdf
